.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fotos {
  background-color: rgba(28, 27, 27, 1);
}

.controlcepillo {
  height: 175px;
  display: flex;
}
.cepillo {
  background-image: url("https://res.cloudinary.com/dlgruqssp/image/upload/v1735443457/cepillo-removebg-preview_mdrbqj.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}
